<DOCTYPE html>
<html>
	<head>
		<title>{{ page.title}}</title>
		<!-- Link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/main.css">
		<!-- Link to syntax highlight stylesheet -->
		<link rel="stylesheet" href="{{site.github.url}}/css/syntax.css">
	</head>
	<body>
		<nav>
		<ul>
			<!-- Navigation links go here -->
		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
		<ul>
		</ul>
		</footer>
	</body>
</html>